body {
	background:#ccc;
}
footer, .paragraphe, p {
	font-family:"Arial",Serif;
	font-size:12px;
	color:#000;
}
#titre {
	font-family:"Arial",Serif;
	font-size:16px;
	font-weight:bold;
	color:black;
	margin-bottom:10px;
}
#boutonJeu {
	margin-top:10px;
	/*text-align:center;*/
}

#panneauLateral {
    top:40px;
    right:20%;
}

#panneauLateral, #animation {
	display : inline-block;

}
canvas {
	border-style:solid;
	border-width:1px;
	background:#fff;
}

#zoneOrdres {
	border-style:solid;
	border-width:1px;
}

.marge {
margin-left: 3em;
}
