body {
	background:#ccc;
}
footer, .paragraphe, p {
	font-family:"Arial",Serif;
	font-size:12px;
	color:#000;
}
#titre {
	font-family:"Arial",Serif;
	font-size:16px;
	font-weight:bold;
	color:black;
	margin-bottom:10px;
}
#boutonJeu {
	margin-top:10px;
	/*text-align:center;*/
}

#panneaux {
    width: 362px;
    padding-left: 590px;
    margin-top: -464px;
}

#panneauLateral {
    position:relative;
}

#panneauCible {
    position:relative;
}

#panneauCible table {
    width: 352px;
}

#panneauLateral, #panneauCible, #animation {
	display : inline-block;

}
canvas {
	border-style:solid;
	border-width:1px;
	background:#fff;
}

#zoneOrdres {
	border-style:solid;
	border-width:1px;
	margin-bottom: 5px;
	padding-left: 5px;
	width: 945px;
}

.marge {
    margin-left: 3em;
}
